<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

<style>

</style>

<div style="height: 8%; padding: 30px; color:white; padding-top:8%; background:#F44336">
  <div class="container">
    <h1>Companies</h1>
  </div>
</div>

<div class="container">

  <p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td style="text-align:right"><%= link_to 'Delete', company, method: :delete, data: { confirm: 'Confirm delete?' },
          :class => "btn", :style => "color:white; background:#F44336"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <br>

  <%= link_to 'New Company', new_company_path, :class => "btn", :style => "color:white;" %>
  <%= link_to 'Users', "users", :class => "btn", :style => "color:white;" %>

  </div>
  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
